import streamlit as st
from streamlit_option_menu import option_menu
from numerize import numerize
import json
import numpy as np
from keras.preprocessing.text import tokenizer_from_json
from keras.preprocessing.sequence import pad_sequences
from keras.models import load_model
import pandas as pd
import plotly.express as px
from sqlalchemy import create_engine
import urllib
from tqdm import tqdm
from pyvi import ViTokenizer